<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="footer">
    You are logged as:
    <span th:text="${userName} ? ${userName} : 'invalidUserName'"></span>
    <script src="/webjars/jquery/3.3.1-1/jquery.js"></script>
    <script src="/webjars/materializecss/1.0.0/js/materialize.js"></script>
    <script>
        var options = {
            format: 'yyyy-mm-dd'
        }

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, options);
        });
    </script>
</div>
</body>
</html>