<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorator="common/_layout">
<head lang="pl">
    <title>Profile page</title>
</head>
<body>
<div id="page" layout:fragment="content">
    <h5 class="indigo-text center teal-text text-darken-1" th:text="#{profile.title}">Preferences</h5>
    <form th:action="${lang} != null ? @{/profile(lang=${lang})} : @{/profile}" th:object="${profileForm}" method="post"
          class="col m8 s12 offset-m2">
        <div th:if="${#fields.hasErrors('*')}" class="row" id="alert_box">
            <div class="col s12 m12">
                <div class="card red darken-1">
                    <div class="row">
                        <div class="col s12 m10">
                            <div class="card-content white-text">The form contains following errors, please correct
                                them.<br/>
                                <ul class="errorList">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Wrong input</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s12 m2">
                            <i class="tiny material-icons close_alert" id="alert_close">close</i>
                        </div>
                    </div>
                </div>
                <style>
                    .close_alert {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        font-size: 20px;
                        color: white;
                        cursor: pointer;
                    }
                </style>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input th:field="${profileForm.name}" id="name" type="text" th:errorclass="invalid"/>
                <label for="name">Name</label>
                <div th:errors="*{name}" class="red-text">Error</div>
            </div>
            <div class="input-field col s6">
                <input th:field="${profileForm.email}" id="email" type="text" th:errorclass="invalid"/>
                <label for="email">E-mail address</label>
                <div th:errors="*{email}" class="red-text">Error</div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input class="datepicker" th:placeholder="${dateFormat}" th:field="${profileForm.birthDate}"
                       id="birthDate" type="text" th:errorclass="invalid"/>
                <label for="birthDate">Birth date</label>
                <div th:errors="*{birthDate}" class="red-text">Error</div>
            </div>
        </div>
        <fieldset class="row">
            <legend th:text="#{tastes.legend}">What do You prefer?</legend>
            <button class="btn teal" type="submit" name="addTaste" th:text="#{add.taste}">
                Add preference<i class="mdi-content-add left"></i>
            </button>
        </fieldset>
        <div class="row s12">
            <button class="btn waves-effect waves-light  teal darken-1" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            <div th:errors="*{tastes}" class="red-text">Error</div>
            <div class="row" th:each="row,rowStat : *{tastes}">
                <div class="col s6">
                    <input type="text" th:field="*{tastes[__${rowStat.index}__]}"
                           th:placeholder="#{taste.placeholder}"/>
                </div>
                <div class="col s6">
                    <button class="btn red" type="submit" name="removeTaste" th:value="${rowStat.index}"
                            th:text="#{remove}">Delete<i class="mdi-action-delete right waves-effect"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>