<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/_layout">
<body>
<div id="page" layout:fragment="content">
    <ul>
        <li><span th:text="${message}">Greetings Martians!</span>
        <li><span th:text="${userName}">I am da user!</span>
        <li><span th:text="${color}">Default color</span>
        <li><span th:text="${anotherVariable}">nothing</span>
    </ul>

    <h1>Let's iterate over something from model:</h1>
    <ul>
        <li th:each="element : ${listed}" th:text="${element}"></li>
    </ul>
    <h4 class ="indigo-text center">What we are going to find?</h4>
    <form th:replace="forms/search :: search"></form>
</div>
</body>
</html>